/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

/* Colors */
:root{

     /* Primary */

    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: #31d35c;
    --Bright-Cyan: #2bb7da;

    /* Neutral */

    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: #f3f4f6;
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);

    /* - Weights: 300, 400, 700 */
    /* - Font size: 18px */
}

/* Universal Selector */
*{
    font-family: 'Public Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

/* Grid Container */
.grid-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    max-width: 600px;
    min-width: 350px;
    margin: 0 auto;
    align-items: center;
}
.col-12{
    grid-column: span 12;
}
.col-8{
    grid-column: span 8;
}
.col-6{
    grid-column: span 6;
}
.col-2{
    grid-column: span 2;
}

/* Navigation bar */
.nav-background{
    background: white;
    position:fixed;
    z-index: 2;
    width: 100vw;
    min-width: 350px;
}
nav{
    padding: 20px 20px 0;
    align-items:center;
}
nav .logo{
    padding: 0 0 15px;
}
.nav-menu{
    grid-column-start: 2;
    grid-column-end: 12;
    position: absolute;
    top: 60px;
    left: -2000px;
    padding: 20px 20px 0;
    width: 100vw;
    text-align: center;
    background-color: hsla(0, 0%, 0%, 0.2);
    height: 100vh;
}
.nav-menu.active{
    left: 0;
    min-width: 350px;
}
.nav-item{
    margin: 0 auto;
    background-color: white;
    padding: 15px 0px;
    max-width: 600px;
}
.nav-item:hover{
    padding: 15px 0;
    border-bottom: 4px solid var(--Lime-Green);
}
.nav-item:hover a{
    color: var(--Dark-Blue);
}
.nav-item a{
    color: var(--Dark-Blue);
}
nav .request-link{
    grid-column-start: 8;
    grid-column-end: 13;
    display: none;
}
.request-link{
    width: fit-content;
    color: var(--White);
    padding: 0px;
    border-radius: 50px;
    background: rgb(49,211,92);
    background: linear-gradient(90deg, rgba(49,211,92,1) 0%, rgba(43,183,218,1) 100%);
}
.request-link:hover{
    opacity: 0.6;
}
.hamburger{
    grid-column-start: 12;
    height: 18px;
    width: 35px;
    margin-bottom: 20px;
    background: url("images/icon-hamburger.svg");
    background-size: contain;
    cursor: pointer;
    margin-right: 20px;
}
.hamburger.active{
    background: url("images/icon-close.svg");
    background-size: contain;
    width: 23px;
}

/* Header */
.header-background{
    background-color: var(--Very-Light-Gray);
    background-image: url("images/bg-intro-mobile.svg");
    background-size: 100% 100%;
    width: 100%;
    height: 550px;
    min-width: 350px;
    background-position: right;
}
.bg-color{
    background-color: var(--Very-Light-Gray);
    min-width: 350px;
}
.header{
    height: 40vh;
    min-height: 560px;
    padding: 0 20px;
}
.header-heading{
    font-size: 3rem;
    font-weight: 300;
    width: 100%;
    margin: 0 auto;
}
.header-desc{
    font-size: 18px;
    line-height: 1.6rem;
    margin: 20px auto 40px;
    width: 100%;
}
.header-img{
    height: 650px;
    width: 100%;
    min-width: 350px;
    max-width: 600px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}
.section-head{
    font-weight: 400;
    font-size: 2rem;
}

/* Reason container */
.reason-background{
    background-color: var(--Light-Grayish-Blue);
    min-width: 350px; 
}
.reasons-container{
    padding: 50px 20px;
}
.reason-desc{
    margin: 20px 0 0;
    font-size: 1.3rem;
    color: var(--Grayish-Blue);
}
.reason-col-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 50px 0;
    line-height: 1.5rem;
}
.reason-col{
    margin: 20px auto;
}
.reason-col img{
    margin: 0 0 20px 0;
}
.reason-col-head{
    font-weight: 400;
    font-size: 1.3rem;
}
.reason-col-desc{
    margin: 15px 0 0;
    width: 90%;
    color: var(--Grayish-Blue);
    font-weight: 400;
}

/* Articles container */
.articles-container{
    padding: 40px 20px 70px;
}
.articles-col-container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 20px;
    margin: 30px 0 0;
    flex-direction: column;
}
.article-col{
    width: fit-content;
    border-radius: 10px;
    margin: 0 auto;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.article-col-text{
    padding: 25px 20px;
    background-color: var(--White);
    border-radius: 10px;
}
.article-col img{
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
}
.article-head{
    width: 100%;
    margin: 8px 0;
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
}
.article-head:hover{
    color: var(--Lime-Green);
}
.article-creator{
    display: block;
    color: var(--Grayish-Blue);
    font-weight: 300;
    font-size: 0.9rem;
}
.article-desc{
    width: 100%;
    margin: 8px 0 0;
    font-size: 1.1rem;
    line-height: 1.6rem;
    color: var(--Grayish-Blue);
    font-weight: 300;
}

/* Footer */
.footer-background{
    background-color: var(--Dark-Blue);
    min-width: 350px;
}
footer, footer a{
    color: var(--White);
}
.footer{
    grid-template-rows: repeat(3, auto);
    padding: 50px 20px 50px;
    text-align: center;
}
.footer .logo{
    filter: brightness(0) invert(1);
    align-self: flex-start;
}
.footer-nav-links{
    display: grid;
    grid-template-rows: repeat(2, auto);
    column-gap: 0px;
    row-gap: 15px;
    margin: 25px 0 0;
}
.footer-nav-links a{
    font-size: 1.1rem;
}
.footer-nav-links a:hover{
    color: var(--Lime-Green);
}
.footer .request-link{
    align-self: flex-start;
    grid-column-start: 1;
    grid-column-end: 13;
    margin: 25px auto;
}
.social-links{
    margin: 25px 0 0;
}
.social-links a{
    margin: 0 5px;
}
.social-links a img:hover{
    filter: invert(60%) sepia(12%) saturate(5210%) hue-rotate(83deg) brightness(148%) contrast(68%);
}
.copyright{
    grid-column-start: 1;
    grid-column-end: 13;
}

/* attribution */
.attribution {  
    text-align: center; 
    padding: 10px 0px;
    order: 5;
    background-color: rgb(250, 243, 247);
    font-size: 0.9rem;
    min-width: 350px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Media Queries */
@media (max-width: 400px) {
    .hamburger{
        grid-column-start: 10;
        grid-column-end: 13;
    }
}
@media (min-width: 578px) {
    .header-img{
        left: 50%;
        transform: translateX(-50%);
    }
}
@media (min-width: 1000px) {
    .grid-container{
        max-width: 1300px;
    }
    nav .request-link{
        grid-column-start: 10;
        grid-column-end: 13;
        display: block;
        margin: 0 0 15px;
    }
    .nav-menu{
        display: flex;
        grid-column-start: 4;
        grid-column-end: 9;
        position: static;
        padding: 0px;
        width: fit-content;
        text-align: start;
        background-color: transparent;
        height: fit-content;
    }
    .nav-item{
        margin: 0;
        padding: 0 10px 15px;
        background-color: white;
        max-width:fit-content;
    }
    .nav-item:hover{
        padding:  0 10px 15px;
    }
    .nav-item a{
        color: var(--Grayish-Blue);
    }
    .request-link{
        padding: 12px 25px;
    }
    .hamburger{
        display: none;
    }

    /* Header */    
    .header-heading{
        font-size: 3.5rem;
        width: 45%;
        margin: 0;
    }
    .header-desc{
        margin: 20px 0 40px;
        width: 40%;
    }
    .header-background{
        background: url("images/bg-intro-desktop.svg");
        background-size: 100% 100%;
        width: 50vw;
        height: 620px;
        min-width: 350px;
        background-position: right;
        position: absolute;
        top: 0px;
        left: 50vw;
    }
    .header-img{
        height: 700px;
        left: 75vw;
        top: 0px;
    }

    /* Reasons container */
    .reason-desc{
        width: 50%;
        line-height: 1.7rem;
    }
    .reason-col-container{
        flex-direction: row;
    }
    .reason-col{
        margin: 20px auto;
    }

    /* Articles container */
    .articles-col-container{
        flex-direction: row;
    }
    
    .footer{
        text-align: start;
    }
    .footer .logo{
        grid-column-start: 1;
        margin: 20px 0 0;
    }
    .footer-nav-links{
        order: 0;
        grid-column-start: 4;
        grid-column-end: 9;
        align-self: start;
        grid-template-columns: repeat(2, auto);
    }
    .footer .request-link{
        grid-column-start: 10;
        grid-column-end: 13;
        align-self: flex-start;
    }
    .social-links{
        order: 1;
        align-self: flex-start;
        margin-top: -20px;
        grid-column-start: 1;
    }
    .social-links a{
        margin: 0 2px;
    }
    .copyright{
        order: 2;
        grid-column-start: 10;
        grid-column-end: 13;
        margin-top: -20px;
    }
    
}
@media (min-width: 1080px) {
    nav .request-link{
        grid-column-start: 11;
    }
}